/* Generalidades */
* {
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    322deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 118, 1) 13%,
    rgba(0, 212, 255, 1) 79%
  );
  background-attachment: fixed;
  background-size: contain;
  font-family: "Exo 2", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(255, 255, 255);
}

#contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenProducto {
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.tarjeta {
  border: 1px solid black;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 10px solid yellow;
  width: 20%;
  margin: 10px;
}

section {
  border: 5px solid pink;
  padding: 40px;
}

#carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content:space-evenly;
  width: 100%;
  min-height: 100%;
  /* border: 3px solid red; */
  padding: 15px;
  margin: 15px;
}

.oculta {
  display: none !important;
}

header{
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  align-items: center;
  padding: 10px;
  border: 10px solid yellow;
  margin: 0;
  z-index: 100;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
  align-items: center;
  list-style: none;
  padding: 30px;
  margin: 0;
  border: 10px solid yellow;
  width: 100%;
  height: 50px;

}

.tarjProdCarrito{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
  border: 5px solid black;
}

.imagenEnCarrito{
  border: 2px solid black;
  border-radius: 5%;
  max-width: 105px;
  
}