/* Generalidades */
* {
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  margin: 0;
}

body,
header {
  background: rgb(2, 0, 36);
  background: linear-gradient(322deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(121, 9, 118, 1) 13%,
  rgba(0, 212, 255, 1) 79%);
  background-attachment: fixed;
  background-size: contain;
}

label {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: rgb(255, 255, 255);
}


#contenedorProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenProducto {
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.tarjeta {
  display: flex;
  margin: 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 20%;
  margin: 10px;
  text-align: center;
}


#carrito {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100%;
  padding: 15px;
  margin: 15px;
}

.oculta {
  display: none !important;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 20px;
  z-index: 1000
}


section {
  padding: 40px;
  padding-top: 40px;
  scroll-margin-top: 80px
}


nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 30px;
  margin: 0;
  height: 50px;

}


nav ul li {
  margin: 10px;
}

.tarjProdCarrito {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  flex-wrap: wrap;
}

.imagenEnCarrito {
  border-radius: 5%;
  max-width: 105px;

}

.cajaBusqueda {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.buscar {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.precio {
  margin: 5px;
  margin-bottom: 10px;
}

#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

#contenedorReservas {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-between;

}

#formularioEntradas {
  display: flex;
  padding: 5px;
  
  }
#formularioEntradas button {
  display: flex;
  padding: 5px;
justify-content: end;
align-items:center;
  
  }

  .btn-reserva{
margin-left: auto;
  
      }



#listaEntradas {
  padding: 6px;
}

.logo img {
  width: 25vh;

}

.botonFinalizar {
  background-color: rgb(208, 86, 175);
  height: 50px;
}

.resumenCompra {
  display: flex;
  color: black;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-image: url(../images/recibo.png);
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.resumenCompra {
  display: flex;
  color: black;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-image: url(../images/recibo.png);
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.resumenCompra p{
  color: black;
  width: 100%;
  padding-top: 45%;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;;
}

.compradorYCantidad {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.divReservas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formularioEntradas {
  display: flex;
}

button{
  background-color: rgb(65, 153, 235);
  color: white;
}

input{
  background-color: rgb(155, 214, 243);
  border-radius: 7px;
}

.section{
  margin: 30px;
}

.entradaDiv{
  margin: 10px;
}

.saludo{
  padding: 30px;
  
  }

